.avatar {
  width: 500px !important;  /* Adjust as needed */
  height: 500px !important;   
/* Keep it proportional */
 object-fit: cover;
}

.avatar-wrapper {
  width: 210px !important;  /* Slightly larger wrapper */
  height: 210px !important;
}
.custom-favicon {
    width: 32px;
    height: 32px;
    background: url("/media/icon.png") no-repeat center;
    background-size: contain;
}