.avatar {
  width: 500px !important;  /* Adjust as needed */
  height: 500px !important;   
/* Keep it proportional */
 object-fit: cover;
}

.avatar-wrapper {
  width: 210px !important;  /* Slightly larger wrapper */
  height: 210px !important;
}

.navbar-brand img {
    border-radius: 50%;
}