
  .site-title {
    margin-left: 50px;  /* Adjust as needed */
    font-size: 2.5rem;  /* Increase font size */
  }
  .hero-title {
    font-size: 3rem; /* Make the name bigger */
    font-weight: bold;
  }
  
  /* Increase section padding */
  .section {
    padding: 6rem 0 !important; /* Adjust the padding as needed */
  }
  
  /* Increase container width */
  .container {
    max-width: 1200px !important; /* Adjust the width as needed */
  }
  
  .author-links a {
    font-size: 1.8rem; /* Increase icon size */
    margin-right: 10px; /* Space them out */
  }

  /* Increase size of profile avatar */
  .avatar {
    width: 500px; /* Increase size */
    height: 500px;
    border-radius: 50%; /* Keep circular shape */
  }