{{ $current_page := . }}
<nav class="navbar navbar-light fixed-top navbar-expand-lg py-0 compensate-for-scrollbar" id="navbar-main">
  <div class="container">

    <!-- Brand (center-aligned) -->
    <a class="navbar-brand mx-auto" href="{{ "/" | relLangURL }}">
      {{- if site.Params.logo -}}
      <img src="{{ printf "/img/%s" site.Params.logo | relURL }}" alt="{{ site.Title }}">
      {{- else -}}
      <span class="site-title">{{ site.Title }}</span>
      {{- end -}}
    </a>

    <!-- Navbar toggler for mobile -->
    {{ if or site.Menus.main .IsTranslated }}
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
            data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="{{ i18n "toggle_navigation" }}">
      <span><i class="fas fa-bars"></i></span>
    </button>
    {{ end }}

    <!-- Navbar Links (right-aligned) -->
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto">
        {{ range site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link {{ if eq .URL $current_page.RelPermalink }} active{{ end }}" href="{{ .URL | relLangURL }}">
            <span>{{ .Name | safeHTML }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>

  </div>
</nav>
